

* {
    margin: 0;
    padding: 0;
    font-family: Calibri, 
}
body {
width: 100%;

}
.header {
     display: flex;
    justify-content: center;
    color: black;
}
.titulo {
    font-size: 25px;
    height: 40px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.aviso {
    background: rgb(255, 183, 0);
    font-size: 25px;
    height: 40px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.result {
    background: #039603;
    color: white;
    z-index: 1000;
    font-size: 30px;
    height: 40px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.form {
    border: 1px black solid;
    width: 60%;
    margin: 0 auto;
}
.preguntas {
    margin-left: 20px;
    display: flex;
    margin: 10px;
}
input {
    margin: 5px;
}
.validar {
    display: grid;
    align-content: center;
    margin: 0 auto;
    margin-top: 40px;
    background: #35A628;
    color: white;
    border-radius: 17px;
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
    font-size: 17px;
}
